*.ipch
*.suo
*.user
*.sdf
*.opensdf
*.exe
tests/stabtest/msvc10/Debug/
tests/stabtest/msvc10/Release/
tests/stabtest/msvc10/obj/
tests/stabtest/msvc10/log.txt
tests/stabtest/msvc12/Debug/
tests/stabtest/msvc12/Release/
tests/stabtest/msvc12/obj/
tests/stabtest/msvc12/log.txt
tests/stabtest/log.txt
tests/unittests/msvc10/Debug/
tests/unittests/msvc10/Release/
tests/unittests/msvc10/obj/
tests/unittests/msvc12/Debug/
tests/unittests/msvc12/Release/
tests/unittests/msvc12/obj/
tests/CDSChecker/model-checker/
benchmarks/msvc10/Debug/
benchmarks/msvc10/Release/
benchmarks/msvc10/obj/
benchmarks/msvc12/Debug/
benchmarks/msvc12/Release/
benchmarks/msvc12/obj/
test/
